{% load static %}
<!DOCTYPE html>
<html lang="en" xmlns:color="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./static/mainapp/css/style.css">
</head>

<body>
<div id="wholepage">
    <div class="wholeBtns">
        <a href="http://127.0.0.1:8000/"><img class="MineMPlogo" src="/static/mainapp/img/MineMP-UpLeft.png"></a>
        <img class="forumLogo" src="/static/mainapp/img/forumLogo.png">
        <img class="donatLogo" src="/static/mainapp/img/donatLogo.png">
        <div class="forumWord"><a href="https://www.youtube.com/watch?v=r9B7BrVJMxc">ФОРУМ</a></div>
        <div class="donatWord">ДОНАТ</div>
    </div>
    <section>
        <img class="backPage1" src="/static/mainapp/img/page1/background1.png" width="100%" height="100%" object-fit="cover">
        <div class="xAndPoints1"></div>
        <img class="art1" src="/static/mainapp/img/page1/art1.png" >
        <img class="title1" src="/static/mainapp/img/page1/title1.png">
        <div class="maintxt">УНИКАЛЬНЫЙ СЕРВЕР, РАЗРАБОТАННЫЙ НА ПЛАТФОРМЕ MINECRAFT, КОТОРЫЙ ДАЕТ ВОЗМОЖНОСТЬ ВЖИТЬСЯ В ЛЮБУЮ РОЛЬ
                В ВИРТУАЛЬНОЙ ВСЕЛЕННОЙ, ПОДЧИНЯЯСЬ ПРАВИЛАМ РЕАЛЬНОЙ ЖИЗНИ. ВЫ МОЖЕТЕ СТАТЬ КЕМ УГОДНО,
                ВЫБИРАТЬ ТО ЧТО ВАМ НРАВИТСЯ И ДЕЛАТЬ ТО - ЧТО ВЫ ХОТИТЕ, ВОЗМОЖНОСТИ БЕЗГРАНИЧНЫ!</div>
    </section>

    <section id="wholepage2">
<!--        <div class="wrapper__img">-->
            <img class="backPage2" src="/static/mainapp/img/page2/background2.png" width="100%" height="100%" object-fit="cover">
            <a href="#page3"><img class="playButton" src="/static/mainapp/img/page2/playButton.png"></a>
            <div class="xAndPoints2"></div>
            <img class="art2" src="/static/mainapp/img/page2/art2.png">
            <div class="page">
                <img class="title2" src="/static/mainapp/img/page2/title2.png">
                <div class="txtP2">Здесь нет невозможного, только ты решаешь кем станет твой персонаж - Бизнесменом, Бандитом, Полицейским,
                    Таксистом, Дальнобойщиком, мафиози, сотрудником ФБР, в общем - кем угодно. <br> <br> Ты можешь заниматься криминалом,
                    диктовать свои правила создав преступную организацию - грабить, вымогать, выполнять задания, учавствовать в криминальных разборках.
                    Можешь стать полицейским и следить за порядком в штате - бороться с криминалом, устраивать рейды, противостоять преступности.
                    А можешь работать на себя - стать фермером, инкассатором, дальнобойщиком, таксистом, шахтером или лесорубом.<br> <br>
                    Для каждого найдется занятие по душе. Прочувствуй атмосферу удивительного мира ролевой игры вместе с другими игроками на MineMP.<br> <br></div>
            </div>
            <div class="page">
                <img class="titlePage22" src="/static/mainapp/img/page2/titlePage22.png">
                <div class="txtP22">MineMP - это уникальный и единственный в своем роде проект разработанный с нуля.<br><br>
                    Включающий в себя динамичный и постоянно меняющийся сетевой мир, лучшие технические решения,
                    многочисленные игровые механики, приятный интерфейс, качественную графику, детально
                    проработанную карту, а главное - безграничные возможности.<br> <br></div>
            </div>
<!--        </div>-->
    </section>

    <section>
        <a id="page3"></a>
        <img class="backPage3" src="/static/mainapp/img/page3/background3.png" width="100%" height="100%" object-fit="cover">
        <img class="title3" src="/static/mainapp/img/page3/title3.png">
        <div class="txtP3">Окунитесь в огромный мир MineMP - динамичную многопользовательскую вселенную, полную возможностей.
            Исследование этого мира еще увлекательнее с качественной графикой с повышенной дальностью прорисовки, трассировкой лучей,
            улучшенными текстурами, 3D звуком и хорошей оптимизацией.<br> <br> Здесь вы можете пройти путь от простого рабочего до главы штата.<br> <br></div>
        <div class="xAndPoints3"></div>
        <img class="step1" src="/static/mainapp/img/page3/step1.png">
        <img class="step2" src="/static/mainapp/img/page3/step2.png">
        <img class="step3" src="/static/mainapp/img/page3/step3.png">
    </section>

    <section>
        <div class="xAndPoints4"></div>
        <img class="backPage4" src="/static/mainapp/img/page4/background4.png" width="100%" height="100%" object-fit="cover">
        <img class="footer" src="/static/mainapp/img/page4/footer.png">
        <img class="info12" src="/static/mainapp/img/page4/info12.png">
        <img class="info3" src="/static/mainapp/img/page4/info3.png">
        <img class="info4" src="/static/mainapp/img/page4/info4.png">
        <img class="info5" src="/static/mainapp/img/page4/info5.png">

        <img class="playButton2" src="/static/mainapp/img/page4/playButton.png">
        <img class="subButton1" src="/static/mainapp/img/page4/subButton.png">
        <img class="subButton2" src="/static/mainapp/img/page4/subButton.png">
        <div class="discr1">Условия использования</div>
        <div class="discr2">Пользовательское соглашение</div>
        <div class="discr3">Правила оплаты</div>
        <div class="discr4"><a href="https://www.youtube.com/watch?v=r9B7BrVJMxc">Форум</a></div>
        <div class="discr5">help@minemp.ru</div>
    </section>
</div>

<script src="./static/mainapp/js/script.js"></script>
<script src="./static/mainapp/js/slider.js"></script>
<script>
    new WholePageSlider({
        containerId: "wholepage",
    })
</script>
</body>

