@font-face {
	font-family: "ProximaNovaRegular";
	src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
	src: url("../fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
	url("../fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "ProximaNovaBold";
	src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot");
	src: url("../fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
	url("../fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

@font-face {
	font-family: "ProximaNovaBlack";
	src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot");
	src: url("../fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix")format("embedded-opentype"),
	url("../fonts/ProximaNovaBlack/ProximaNovaBlack.woff") format("woff"),
	url("../fonts/ProximaNovaBlack/ProximaNovaBlack.ttf") format("truetype");
	font-style: normal;
	font-weight: normal;
}

body, html {
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #FFFFFF;
}

a:hover{
    color: purple;
}

body {
    background-image: url("/static/mainapp/img/page1/background1.png");
    background-size: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    user-select: none;
    overflow-y: hidden;
    touch-action: none;
    overscroll-behavior-y: contain;
}

h1 {
    font-size: calc(2em + 1vw);
    margin: 0; padding: 0;
    text-align: center;
}

p {
    font-weight: 100;
    font-size: calc(1em + 0.5vw);
    text-align: center;
}

#wholepage, wholepage2 {
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    overflow: hidden;
}

section, .section {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translate(0, 0);
    transition: transform 0.4s ease-out;
    margin: 0; padding: 0;
}

.page {
    flex: 1 0 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    transform: translate(0, 0);
    transition: transform 0.4s ease-out;
}

.sectionButtonContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 50%;
    right: 3vw;
    color: rgb(30, 30, 30);
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.sectionButtonContainer label, .page_selection label {
    display: inline-flex;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    background: rgb(255, 255, 255, 1);
    transition: transform 0.2s;
    margin: 12px 12px;
    padding: 6px;
    cursor: pointer;
}

.sectionButtonContainer label::after, .page_selection label::after {
    content: '';
    display: inline-flex;
    position: relative;
    top: -10px;
    left: -10px;
    padding: 12px;
}

.sectionButtonContainer input[type=radio]:checked + label::after, .page_selection input[type=radio]:checked + label::after {
   display: none;
}

.sectionButtonContainer input[type=radio]:checked + label, .page_selection input[type=radio]:checked + label  {
    transform: scale(1.8);
    transition: transform 0.2s;
}

.page_selection {
    position: absolute;
    display: flex;
    flex-direction: row;
    bottom: 2vh;
    left: 40%;
    color: rgb(30, 30, 30);
    -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

.footer{
    position: absolute;
    object-fit: fixed;
    max-width: none;
    pointer-events: none;
    width: 1884px;
    left: -6px;
    top: 802px;
}

.info12{
    position: absolute;
    object-fit: fixed;
    max-width: none;
    pointer-events: none;
    width: 522px;
    left: 242px;
    top: 199px;
}

.info3{
    position: absolute;
    object-fit: fixed;
    max-width: none;
    pointer-events: none;
    width: 523px;
    left: 1061px;
    top: 199px;
}

.info4{
    position: absolute;
    object-fit: fixed;
    max-width: none;
    pointer-events: none;
    width: 217px;
    left: 1058px;
    top: 475px;
}

.info5{
    position: absolute;
    object-fit: fixed;
    max-width: none;
    pointer-events: none;
    width: 217px;
    left: 1367px;
    top: 475px;
}

.playButton2{
    position: absolute;
    object-fit: fixed;
    max-width: none;
    pointer-events: none;
    width: 98px;
    left: 1264px;
    top: 283px;
}

.subButton1{
    position: absolute;
    object-fit: fixed;
    max-width: none;
    pointer-events: none;
    width: 192px;
    left: 1072px;
    top: 655px;
}

.subButton2{
    position: absolute;
    object-fit: fixed;
    max-width: none;
    pointer-events: none;
    width: 192px;
    left: 1382px;
    top: 655px;
}

.backPage2 {
    position: absolute;
}

.art1{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 31%;
    right: 0vw;
    pointer-events: none;
    width: 40%;
    height: 69%;

}

.art2{
    position: absolute;
    object-fit: fixed;
    max-width: none;
    pointer-events: none;
    width: 662px;
    height: 147px;
    left: 0px;
    top: 863px;
}

.points1{
    position: absolute;
    object-fit: fixed;
    max-width: none;
    pointer-events: none;
    width: auto;
    height: 97px;
    left: 1108px;
    top: 817px;
}

.points2{
    position: absolute;
    object-fit: fixed;
    max-width: none;
    pointer-events: none;
    width: auto;
    height: 145px;
    left: 83px;
    top: 521px;
}

.MineMPlogo{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 5%;
    right: 77vw;
    width: 352px;
    height: 80px;
    z-index: 11;
}

.forumLogo{
    position: absolute;
    max-width: none;
    pointer-events: none;
    width: auto;
    height: 43px;
    left: 1279px;
    top: 70px;
    z-index: 11;
}

.donatLogo{
    position: absolute;
    max-width: none;
    pointer-events: none;
    width: auto;
    height: 43px;
    left: 1522px;
    top: 67px;
    z-index: 11;
}

.title1{
    position: absolute;
    object-fit: fixed;
    max-width: none;
    pointer-events: none;
    width: 900px;
    left: 190px;
    top: 313px;
}

.title2{
    position: absolute;
    object-fit: fixed;
    max-width: none;
    pointer-events: none;
    width: 900px;
    left: 190px;
    top: 238px;
}

.title3{
    position: absolute;
    object-fit: fixed;
    max-width: none;
    pointer-events: none;
    width: 900px;
    left: 190px;
    top: 238px;
}

.playButton{
    position: absolute;
    object-fit: fixed;
    max-width: none;
    width: 730px;
    left: 174px;
    top: 737px;
    z-index: 12;
}

.step1{
    position: absolute;
    object-fit: fixed;
    max-width: none;
    pointer-events: none;
    width: 382px;
    left: 143px;
    top: 571px;
}

.step2{
    position: absolute;
    object-fit: fixed;
    max-width: none;
    pointer-events: none;
    width: 382px;
    left: 429px;
    top: 571px;
}

.step3{
    position: absolute;
    object-fit: fixed;
    max-width: none;
    pointer-events: none;
    width: 382px;
    left: 712px;
    top: 571px;
}

.titlePage22{
    position: absolute;
    object-fit: fixed;
    max-width: none;
    pointer-events: none;
    width: 900px;
    left: 190px;
    top: 238px;
}

.mainText{
    display: block;
}

.forumWord{
    position: fixed;
    display: flex;
    flex-direction: column;
    top: 7%;
    right: 22.5vw;
    font-family: 'ProximaNovaRegular';
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 40px;
    color: #FFFFFF;
    z-index: 11;
}

.donatWord{
    position: absolute;
    width: 213px;
    height: 42px;
    left: 1587px;
    top: 70px;
    font-family: 'ProximaNovaRegular';
    font-style: normal;
    font-weight: 300;
    font-size: 35px;
    line-height: 40px;
    color: #FFFFFF;
    z-index: 11;
}

.maintxt{
    position: absolute;
    width: 810px;
    height: 287px;
    left: 190px;
    top: 390px;
    font-family: 'ProximaNovaBlack';
    font-style: italic;
    font-weight: 900;
    font-size: 30px;
    line-height: 35px;
    color: #B8B8B8;
    z-index: 16;
}

.txtP2{
    position: absolute;
    width: 763px;
    height: 394px;
    left: 196px;
    top: 314px;
    font-family: 'ProximaNovaBold';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 25px;
    color: #B8B8B8;
}

.txtP3{
    position: absolute;
    width: 763px;
    height: 394px;
    left: 196px;
    top: 361px;
    font-family: 'ProximaNovaBold';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 25px;
    color: #B8B8B8;
}

.txtP22{
    position: absolute;
    width: 763px;
    height: 394px;
    left: 196px;
    top: 409px;
    font-family: 'ProximaNovaBold';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 25px;
    color: #B8B8B8;
}

.txtP3{
    position: absolute;
    width: 763px;
    height: 394px;
    left: 196px;
    top: 361px;
    font-family: 'ProximaNovaBold';
    font-style: normal;
    font-weight: 900;
    font-size: 25px;
    line-height: 25px;
    color: #B8B8B8;
}

.discr1{
    position: absolute;
    width: 298px;
    height: 34px;
    left: 651px;
    top: 877px;
    font-family: 'ProximaNovaRegular';
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 25px;
    color: #5F5F5F;
}

.discr2{
    position: absolute;
    width: 298px;
    height: 34px;
    left: 651px;
    top: 900px;
    font-family: 'ProximaNovaRegular';
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 25px;
    color: #5F5F5F;
}

.discr3{
    position: absolute;
    width: 298px;
    height: 34px;
    left: 1004px;
    top: 877px;
    font-family: 'ProximaNovaRegular';
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 25px;
    color: #5F5F5F;
}

.discr4 a{
    position: absolute;
    width: 298px;
    height: 34px;
    left: 1282px;
    top: 877px;
    font-family: 'ProximaNovaRegular';
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 25px;
    color: #5F5F5F;
}

.discr4 a:hover{
    color: purple;
}

.discr5{
    position: absolute;
    width: 298px;
    height: 34px;
    left: 1513px;
    top: 877px;
    font-family: 'ProximaNovaRegular';
    font-style: normal;
    font-weight: 900;
    font-size: 17px;
    line-height: 25px;
    color: #5F5F5F;
}

.wrapper__img {
    position: relative;
}


.mouse-parallax {
    width: 1877px;
    height: 1010px;
    position: relative;
    overflow: hidden;
}

.xAndPoints1 {
    position: absolute;
    background-image: url("/static/mainapp/img/page1/xAndPoints1.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110%;
    height: 110%;
    object-fit: cover;
    transition: all 0s ease;
}

.xAndPoints2 {
    position: absolute;
    background-image: url("/static/mainapp/img/page2/xAndPoints2.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110%;
    height: 110%;
    transition: all 0s ease;
}

.xAndPoints3 {
    position: absolute;
    background-image: url("/static/mainapp/img/page3/xAndPoints3.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110%;
    height: 110%;
    transition: all 0s ease;
}

.xAndPoints4 {
    position: absolute;
    background-image: url("/static/mainapp/img/page4/xAndPoints4.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 110%;
    height: 110%;
    transition: all 0s ease;
}

@media (max-width: 1440px)
{

}